/* You can add global styles to this file, and also import other style files */

.altoPrecio{
    color: gray;
    font-size: 18px;

}.colorRojo{
    color: red;

}.subrayado{
    text-decoration: underline;

}.active{
    border: 1px solid black
}