<h2>{{titulo}}</h2>

<p>Compra los tenis de las mejores marcas</p>

<p>Añadir zapato</p>
<p>
<input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" (keyup.enter)="addMarca()"
(keyup.enter)="mostrarPalabra()">
<button (click)="getMarca()">Mostrar marca</button>
<button (click)="addMarca()">Añadir marca</button>
</p>

<p><strong>{{miMarca}}</strong></p>

<ul>
    <li *ngFor="let j of marcas; let indice = index">{{indice+1 + ' - ' + j}}
        <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
</ul>

<ul>
    <li *ngFor="let i of zapatos">
        <span [style.color]="i.stock == false ? 'red':'black'">
        
            {{i.nombre}} - 
        
        <strong 
        [ngClass]="{
            'colorRojo': i.precio>650000,
            'subrayado': i.marca=='Nike'
        }"
        >
            ${{i.precio}}
        </strong>
        </span>

        <span *ngIf="i.precio <=650000" 
        [style.color]="i.precio <=650000 ? 'green': 'transparent'">
            - ¡En oferta!
        </span>
        
        <span *ngIf="i.precio>650000"
        [style.color]="i.precio>650000 ? 'red':'transparent'">
        - No está en oferta
        </span>
        
        <span *ngIf="i.stock == false"
        [style.color]="i.stock == false ? 'red':'black'">
            - No hay stock disponible en el momento
        </span>
        
    </li>
</ul>

<p>El color de la mayoría de nuestros zapatos es: </p>

<input type="text" [(ngModel)]="color">

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es <span [ngStyle]="{
            'background':color,
            'color': 'red'
        }">amarillo.</span>
    </li>

    <li *ngSwitchCase="'red'">
        El color predominante es <span [ngStyle]="{
            'background':color
        }">rojo.</span>.
    </li>

    <li *ngSwitchCase="'blue'">
        El color predominante es <span [ngStyle]="{
            'background':color,
            'color': 'white'
        }">azul.</span>.
    </li>

    <li *ngSwitchCase="'orange'">
        El color predominante es <span [ngStyle]="{
            'background':color
        }">naraja.</span>.
    </li>

</ul>