<div id="title">
    
    <h1>{{title}}</h1>
    <h2 id="subtitle">{{subtitle}}</h2>
    <p>{{email}}</p>

</div>

<article class="about">
    <h2>Sobre mi</h2>

    <p>
        Soy estudiante de ingeniería
        informática, actualmente estoy en
        séptimo semestre, con materias de
        octavo. En total son 8 semestres de
        materias más prácticas. Cuento con
        conocimiento en JavaScript, CSS, HTML,
        Angular, TypeScript, NodeJS y también
        en sistemas de control de versiones,
        como lo son Git y GitHub. Así mismo,
        estoy relacionado con metodologías de
        desarrollo ágil, y cuento con
        conocimiento en plataformas como
        Azure DevOps.
        También tengo conocimientos en bases de datos SQL y noSQL
        En el momento
        estoy en búsqueda de experiencia
        laboral en el área de la informática, 
        dado que ya tengo experiencia en otras áreas.
        Me caracterizo por ser una persona
        responsable y comprometida en mis
        actividades tanto académicas, como
        laborales. Me gusta ayudar a mis
        compañeros en todo lo que sea posible,
        respetando las ideas de las personas en
        mi entorno
    </p>
</article>

