    <div [ngStyle]="{
        'background':config.fondo,
        'padding':'20px',
        'boder':'5px solid black',
        'boder-color':config.color

    }">
    <h1>Bienvenido a {{ title }}</h1> 

    <p>{{descripcion}}</p>

    <nav>
        <a [routerLink]="['/Home']"[routerLinkActive]="['active']">Home</a>
        &nbsp; <!--Esto es una separación para los links-->
        <a [routerLink]="['/zapatos']"[routerLinkActive]="['active']">zapatos</a>
        &nbsp;
        <a [routerLink]="['/videoJuego']"[routerLinkActive]="['active']">Video juegos</a>
        &nbsp;
        <a [routerLink]="['/bandas']"[routerLinkActive]="['active']">Bandas</a>
        &nbsp;
        <a [routerLink]="['/generos']"[routerLinkActive]="['active']">Generos musicales</a>
        &nbsp;
        <a [routerLink]="['/cursos']"[routerLinkActive]="['active']">Cursos</a>
        &nbsp;
        
    </nav>
    <hr>
<!--
    <button (click)="ocultar_videojuegos()">Ocultar</button>
    <button (click)="mostrar_Videojuegos()">Mostrar</button>

    <videojuego *ngIf="mostrar_videojuegos"></videojuego> <!--ngIf es un condicional, que mostrará una sentencia o no de
    acuerdo a la sentencia que se le esté condicionando-->

    <!--
    <bandas></bandas>
    <zapatos></zapatos>
    -->
    <router-outlet></router-outlet>
</div>