    <div [ngStyle]="{
        'background':config.fondo,
        'padding':'20px',
        'boder':'5px solid black',
        'boder-color':config.color

    }">
    <h1>Bienvenido al {{ title }}</h1> 

    <p>{{descripcion}}</p>
<!--
    <button (click)="ocultar_videojuegos()">Ocultar</button>
    <button (click)="mostrar_Videojuegos()">Mostrar</button>

    <videojuego *ngIf="mostrar_videojuegos"></videojuego> <!--ngIf es un condicional, que mostrará una sentencia o no de
    acuerdo a la sentencia que se le esté condicionando-->

    <!--
    <bandas></bandas>
    <zapatos></zapatos>
    -->
    <router-outlet></router-outlet>
</div>