<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio</title>
</head>

<body>

  <div class="contenedor">

    <div class="personalInfo">
      
      <img class="profilepic" src="../assets/css/images/WhatsApp Image 2022-06-06 at 5.15.09 PM (3)-copia.jpeg" alt="foto de perfil">
      
      <ul class="menu">
        <li><a [routerLink]="['/sobre-mi']">Sobre mi<i class="fas fa-home"></i></a></li>
        <li><a [routerLink]="['/proyectos']">Proyectos<i class="fas fa-folder"></i></a></li>
        <li><a [routerLink]="['/crear-proyecto']">Crear proyecto<i class="fas fa-plus"></i></a></li>
        <li><a [routerLink]="['/contacto']">Contacto<i class="fas fa-envelope"></i></a></li>
      </ul>
      
      <ul class="redes">
        <li><a href="https://www.facebook.com/brianpadim"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/brianpadim/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/brian-patiño-sánchez-693071240/"><i class="fab fa-linkedin-in"></i></a></li>
        
      </ul>

    </div>

    <div class="presentacion">

      <h3>Soy</h3>

      <h1>Brian Andrés Patiño</h1>

      <!-- <div id="typing-text">{{currentText}}</div> -->

      <h5><app-typing-effect></app-typing-effect></h5>

    </div>
  </div>
<router-outlet></router-outlet>
</body>
</html>

