<h2>Página principal</h2>

<p>Fecha normal: {{fecha|date:'fullDate'}}</p><br>
<p>Fecha con Pipe uppercase: {{fecha|date:'fullDate'|uppercase}}</p>
<p>Ejemplo de hola mundo escrito en mayúsculas, usando pipe lowercase: <strong>
    {{'HOLA MUNDO USANDO PIPES' | lowercase}}</strong></p><br>

<!--Ejemplo con ng if y else-->
<div *ngIf="identificado; then siIdentificado else noIdentificado">
    <!--Si la variable identificado está en true; entonces para a siIdentificado
    Si la variable está en false, entonces pasa a noIdentificado-->
</div>

<!--Ejemplo con then:-->
<ng-template #siIdentificado>
    <h3>Estas identificado en la aplicación</h3>
    <button (click)="unsetIdentificado()">Borrar identificarse</button>
</ng-template>

<ng-template #noIdentificado><!--Con el # se pueden crear variables dentro de una vista-->
    <p>No estás identificado, pulsa este botón para identificarte</p>
    <button (click)="setIdentificado()">Identificarse</button>
</ng-template>