<!--Vista videojuego.component.html-->

<h2>{{titulo}}</h2><!--Con las dobles llaves se imprime el valor que se le da
a título en los componentes.ts, esto se llama interpolación-->
    <p>
        {{listado}}
    </p>
    <button (click)="cambiarTitulo()">Cambiar titulo</button><!--Para llamar un evento en Angular se usan los paréntesis y
    el nombre del evento-->
    <button (click)="tituloOriginal()">Poner titulo original</button>
    <ul>
        <li>GTA</li>
        <li>FIFA</li>
        <li>Tekken</li>
        <li>Mario</li>
    </ul>

