@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
    
}.contenedor{
    overflow: hidden;
    width: 100%;
    margin: auto;

}.contenedor .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffee58;
    background-color: black;
    text-align: center;
    border: 0px;
    margin: 0px;

}.contenedor .intro h2{
    padding: 25px;
}
.contenedor .intro img{
    margin-left: 20px;
    margin-bottom: 25px;
    height: 100px;
    align-items: center;

}.contenedor .redes ul{
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}.contenedor .redes li{
    float: left;
    margin: 4px;

}.contenedor .redes a:link{
    color: black;

}.contenedor .redes a:visited{
    color: black;
    text-decoration: none;

}.contenedor .redes a:hover{
    color: blue;

}.contenedor .redes a:active{
    color: #727a76;
    text-decoration: underline;

}.contenedor .redes{
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 0px;

}.contenedor .menu ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}.contenedor .menu li{
    float: left;
    margin: 10px;

}.contenedor .menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;

}.contenedor .menu a:link{
    color:black

}.contenedor .menu a:visited{
    color: black;
    text-decoration: none;

}.contenedor .menu a:hover{
    text-decoration: none;
    border-radius: 15px;

}.contenedor .menu a:active{
    color: #727a76;
    
}.contenedor .menucarrito{
    float: right;
    margin-right: 150px;
    
}.contenedor .imagen{
    display: flex;
    justify-content: center;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;

}.contenedor .imagen img{
    height: 150px;

}.imagenCarrito{
    display: flex;
    justify-content: center;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;

}.contenedor .registrocomercio{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border: solid 1px #e2e2e2;
    border-radius: 15px;
}
.contenedor .registrocomercio img{
    /*clip-path: inset(0 0 25% 0);*/
    border-radius: 15px;
    margin-bottom: 15px;
    height: 200px;
    float: inline-end;

}.contenedor .registrocomercio h3{
    background-color: #e2e2e2;
    border-radius: 15px;
    margin-left: 60px;
    margin: 0;
    padding-left: 100px;
    border-left: 60px;
    height: 220;
    padding: 0 1rem;
    float: inline-end;

}.contenedor .pedirDomi{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border: solid 1px #e2e2e2;
    border-radius: 15px;
}
.contenedor .pedirDomi img{
    /*clip-path: inset(0 0 25% 0);*/
    border-radius: 15px;
    margin-bottom: 15px;
    height: 200px;
    float: inline-end;

}.contenedor .pedirDomi h3{
    background-color: #e2e2e2;
    border-radius: 15px;
    margin-left: 60px;
    margin: 0;
    padding-left: 100px;
    border-left: 60px;
    height: 220;
    padding: 0 1rem;
    float: inline-end;

}.contenedor .restaurantes{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border: solid 1px #e2e2e2;
    border-radius: 15px;
}
.contenedor .restaurantes img{
    /*clip-path: inset(0 0 25% 0);*/
    border-radius: 15px;
    margin-bottom: 15px;
    height: 200px;
    float: inline-end;

}.contenedor .restaurantes h3{
    background-color: #e2e2e2;
    border-radius: 15px;
    margin-left: 60px;
    margin: 0;
    padding-left: 100px;
    border-left: 60px;
    height: 220;
    padding: 0 1rem;
    float: inline-end;

}.contenedor .servicios h1{
    text-align: center;
    margin-top: 15px;

}.contenedor .elemento input[type = "submit"]{
    background-color: black;
    color: #ffee58;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;

}.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid 
    
}.contenedor .formlogin{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    border: solid 1px #e2e2e2;
    border-radius: 15px;

}.footer .nosotros{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border-radius: 15px;

}.footer .contacto{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border-radius: 15px;

}footer{
    background-color: #e2e2e2;

}.footer .redes ul{
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}.footer .redes li{
    float: left;
    margin: 4px;

}.footer .redes a:link{
    color: black;

}.footer .redes a:visited{
    color: black;
    text-decoration: none;

}.footer .redes a:hover{
    color: blue;

}.footer .redes a:active{
    color: #727a76;
    text-decoration: underline;

}.footer .redes{
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 0px;

}.footer .redes{
    float: left;
    display: table;
    height: 220px;
    margin: 2rem;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border-radius: 15px;
    size: 20px;

}