<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']"[routerLinkActive]="['activated']">Sobre mi</a></li> 
    <li><a [routerLink]="['/proyectos']"[routerLinkActive]="['activated']">Proyectos</a></li>
    <li id="logo"><a href="#">BP</a></li> 
    <li><a [routerLink]="['/crear-proyecto']"[routerLinkActive]="['activated']">Crear proyecto</a></li> 
    <li><a [routerLink]="['/contacto']"[routerLinkActive]="['activated']">Contacto</a></li> 
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet> 
</section>

<footer>
  Master en JavaScript &copy;
</footer>